pandas
matplotlib
jupyterlab
openpyxl
tencentcloud-sdk-python
wordcloud
pyecharts
py2neo
# neo4j
pyltp
stanza
pgvector
psycopg2-binary
python-dotenv
openai
tiktoken
langchain
pypdf
unstructured
gradio
sentence_transformers
streamlit